<h1>Liste des problèmes</h1>

<table datatable class="row-border hover">
  <thead>
      <tr>
          <th>Id</th>
          <th>Nom machine</th>
          <th>Decription</th>
          <th>Email</th>
      </tr>
  </thead>
  <tbody>
      <tr class="problems" *ngFor="let problem of problems">
          <td>{{problem.id}}</td>
          <td>{{problem.idMachine}}</td>
          <td>{{problem.description}}</td>
          <td>{{problem.email}}</td>
      </tr>
  </tbody>
</table>

<app-upload-file></app-upload-file>